<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- Insert the current time formatted as "yyyyMMdd'T'HHmmss" under the 
		key "bySecond" into the logger context. This value will be available to all 
		subsequent configuration elements. -->
	<!-- 
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />
	<appender name="MAILOUT" class="ch.qos.logback.core.FileAppender">
		<file>/logs/log-${bySecond}.txt</file>
		<append>true</append> -->
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<!-- 
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender> -->
	
	<!-- rolling file appender -->
	<appender name="MAILOUT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/logs/gw-mailLog.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>gw-mailLog-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- <logger name="com.naon.biz.gw.email" level="DEBUG">
		<appender-ref ref="MAILOUT" />
	</logger> -->
	<!-- 
	<logger name="javax.mail" level="TRACE">
		<appender-ref ref="MAILOUT" />
	</logger>
	 -->

	<!-- TRACE, DEBUG, INFO, WARN, ERROR -->
	<root level="INFO">
		<!-- <appender-ref ref="STDOUT" /> -->
	</root>
</configuration>