<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:annotation-config />
    <!-- annnotation을 사용한 컨트롤러를 자동으로 스캔한다. -->
    <context:component-scan base-package="com.naon, org.gradle" />
    
    <!-- annnotation을 사용한 컨트롤러를 자동으로 스캔한다. -->
    <!-- 이걸 실행하면  의존성 체크를 하는데 autowired한것중 org.springframework.context.support.MessageSourceAccessor 를 찾지 못해서 에러가 생기므로 주석처리
    <context:component-scan base-package="com.naon.biz" />
    -->

    <!-- spring application context를 전역으로 접근이 필요한곳에 사용하기위해.
    -->
    <!-- <bean id="springApplicationContext" class="com.naon.framework.util.SpringContextUtil"/> -->

    <!-- 여러개의 properties 파일을 포함하려면 order 속성을 이용한다. -->
<!--     <context:property-placeholder order="1" location="classpath:systemConfig.properties"/>
    <context:property-placeholder order="2" location="classpath:default.properties"/>
 -->    
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
          <property name="locations">
            <list>
                <value>classpath*:default.properties</value>
            </list>
          </property>
    </bean>
   
</beans>

